@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

ul {
  list-style: none;

  li.oddcolor {
    padding: 0.7em;

    &:nth-child(odd) {
      background: #eee;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;

  &.arrowlink {
    &::after {
      content: ' >';
    }
  }
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family:"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo, sans-serif;
}
