.header {
  z-index: 19999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  height: auto;
  border-bottom: 1px dashed;
  padding: 10px;
  font-size: 14px;
  color: #000;
  background: #fff;
  box-sizing: border-box;

  .center {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    word-break: break-all;

    .logo-wrapper {
      .logo {
        margin-right: 10px;
        width: auto;
        height: auto;
      }
    }
  }
}