.header {
  z-index: 19999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  height: auto;
  border-bottom: 1px dashed;
  padding: 10px;
  font-size: 14px;
  color: #000;
  background: #fff;

  .left {
    position: absolute;
    left: 0;
    padding-left: 10px;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .right {
    position: absolute;
    right: 0;
    padding-left: 10px;
  }

  .center {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    word-break: break-all;
    max-width: 80%;

    .logo-wrapper {
      .logo {
        width: 100px;
        height: auto;
        margin-right: 10px;

        &.no-title {
          width: 80px;
        }
      }
    }
  }
}