.contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .contents {
    // HEADER高さ
    margin-top: 60px;
    display: inline-block;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    width: 100%;
    padding-bottom: 100px;
  }
}